# Rust
# Siltti compiled code
**/target/
# firmware build
# rustfmt
**/*.rs.bk

/kampela-system/Cargo.lock
/kampela-display-common/Cargo.lock
/kampela-screen-calibration/Cargo.lock
/kampela-ui/Cargo.lock
